.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    align-items: center;
    width: 100%;
    height: 100vh; /* Take up full height of the viewport */
    padding: 1rem;
}