.card {
  background: rgb(153, 159, 160);
  box-shadow: 0 4px 8px var(--color-beige); /* Using our darkest gray */
  overflow: hidden;
  width: clamp(280px, 90vw, 600px);
  height: auto;
  min-height: 200px;
  margin: 15px clamp(10px, 3vw, 20px);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); 
  z-index: 99999;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
}

.card:hover {
  border: 1px solid var(--color-white);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  font-family: system-ui, -apple-system, sans-serif;
}

.card-title {
  color: var(--color-white);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  color: var(--color-beige);
  line-height: 1.5;
}

.cardUp {
  background: rgba(var(--color-nature), 0.685);
  box-shadow: 0 4px 8px var(--color-beige);
  overflow: hidden;
  width: clamp(280px, 90vw, 450px);
  height: 50px;
  margin: 15px clamp(10px, 3vw, 20px);
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1); 
  z-index: 99999;
  display: flex;
  flex-direction: column;
}

.cardUp:hover {
  width: 100%;
  max-width: 600px;
}

.cardUp-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cardUp-content {
  padding: 10px;
  font-family: system-ui, -apple-system, sans-serif;
}

.cardUp-title {
  color: var(--color-white);
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardUp-text {
  color: var(--color-gris);
  line-height: 1.5;
}

@media (max-width: 768px) {
  .card-content {
    padding: 15px;
  }
  
  .card-title {
    font-size: 1.25rem;
  }
  
  .cardUp {
    width: 80%
  }

  .cardUp:hover {
    width: 100%;
    max-width: 370px;
  }
}

@media (max-width: 480px) {
  .card {
    margin: 10px;
  }
  
  .cardUp {
    height: 40px;
  }
}